<app-header
  [heading]="heading"
  [subheading]="subheading"
  [imgUrl]="imgUrl"
></app-header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="about-title">Hello ...</div>
        <div class="about-description">
          <p>
            My name is Douglas Petla and I am an engineer that found a passion
            in software development and transitioned to working full-time as a
            software developer. Currently, I spend my days building amazing web
            applications and learning about the latest technologies.
          </p>
          <p>
            Lately, I've been working mostly with front-end development with
            Javascript, Typescript, and Angular, and some backend using Java and
            Spring boot.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
