html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 576px) {
  #mainNav {
    border-bottom: 1px solid transparent !important;
    background: 0 0 !important;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px !important;
    color: #fff !important;
  }
}
