<div style="margin: 0px auto;">
  <main class="container center white-text bg-13">
    <h2 class="headline">Hey, I am Douglas Petla</h2>
    <div class="links">
      <a class="link text-white" href="/about">about</a>
      <a class="link text-white" href="/blog">blog</a>
      <a href="https://www.linkedin.com/in/douglaspetla/" target="_blank" class="link text-white"
        >linkedin</a
      >
      <a href="https://github.com/dpetla" target="_blank" class="link text-white">github</a>
      <a href="https://twitter.com/douglaspetla" target="_blank" class="link text-white">
        twitter
      </a>
    </div>
  </main>
</div>
